<div class="main-container">
    <div class="card text-center">
        <div class="card-body">
            <h3>What is the meaning of this phrase?</h3>
            <h1>{{phrase}}</h1>
            <form action="/home" method="POST">
                <input type="hidden" name="question_id" value="{{id}}">
                <button type="submit" class="btn btn-outline-light btn-lg btn-block hvr-grow hvr-bounce-to-left" name="answer" value="{{answer1}}">{{answer1}}</button>
                <button type="submit" class="btn btn-outline-light btn-lg btn-block hvr-grow hvr-bounce-to-right"name="answer" value="{{answer2}}">{{answer2}}</button>
                <button type="submit" class="btn btn-outline-light btn-lg btn-block hvr-grow hvr-bounce-to-left" name="answer" value="{{answer3}}">{{answer3}}</button>
                <button type="submit" class="btn btn-outline-light btn-lg btn-block hvr-grow hvr-bounce-to-right"name="answer" value="{{answer4}}">{{answer4}}</button>
            </form>
            <h1>{{answerStatus}}</h1>
            <h1>SCORE {{score}}</h1>
            <a href="/" class="btn btn-outline-light hvr-grow hvr-bounce-to-left">Log Out</a>

        </div>
    </div>
</div>