<div class="main-container">
    <div class="card text-center">
        <div class="card-body">
            <h3>Phrase in Spanish: {{phrase}}</h3>
            <h3>Literal translation: {{literal_translation}}</h3>
            <h3>What you think it means:</h3>
            <form action="/home" method="POST" class="answers">
                <input type="hidden" name="question_id" value="{{id}}">
                <button type="submit" class="btn btn-outline-light btn-lg hvr-grow" name="answer" value="{{answer1}}">{{answer1}}</button>
                <button type="submit" class="btn btn-outline-light btn-lg hvr-grow"name="answer" value="{{answer2}}">{{answer2}}</button>
                <button type="submit" class="btn btn-outline-light btn-lg hvr-grow" name="answer" value="{{answer3}}">{{answer3}}</button>
                <button type="submit" class="btn btn-outline-light btn-lg hvr-grow" name="answer" value="{{answer4}}">{{answer4}}</button>
            </form>
            <h3>{{answerStatus}}</h3>
            <button class="btn btn-outline-light btn-lg hvr-grow">Try Again</button>
            <button class="btn btn-outline-light btn-lg hvr-grow">Continue</button>
            <h1>SCORE: {{score}}</h1>
            <a href="/" class="btn btn-outline-light btn-lg hvr-grow">Log Out</a>

        </div>
    </div>
</div>